<div class="grid__item">
  <div class="collection-products position-change">

    {% comment %}
    {% include 'collection-sidebar' %}
    {% endcomment %}

    {% include 'custom-collection-sidebar' %}
    <div class="collection_grid_template grid__item {% if settings.collection_sidebar_use == 'left_sidebar' or settings.collection_sidebar_use == 'right_sidebar'   %}  wide--three-quarters post-large--three-quarters {% endif %} second">
      {% section 'collection-template' %}
    </div>
  </div>
</div>